Source: firefox-pkcs11-loader
Section: web
Priority: optional
Maintainer: RIA <info@ria.ee>
Build-Depends:
 cdbs,
 debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/open-eid/firefox-pkcs11-loader

Package: firefox-pkcs11-loader
Architecture: all
Depends:
 opensc-pkcs11,
 pcscd,
 jq,
 ${misc:Depends}
Description: Firefox PKCS#11 module loader
 This package provides a helper script for Firefox that sets up the browser for
 authentication with Estonian ID-card (or other smart cards supported by
 opensc). Note that this can also be manually configured, in which case this
 package is not required.
